{% extends 'base.html.twig' %}

{% block title %}Expense index{% endblock %}

{% block body %}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="">Orchestra<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('expense_new') }}">Add expense</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron">
        <h1 class="display-3">Welcome to Orchestra!</h1>
        <p class="lead">Take charge of your money with our budget planner.</p>
        <hr class="my-4">
        <p>Our expense tracker helps you control your spending for a brighter & better financial future.</p>
        <p class="lead">
            <a role="button" class="btn btn-primary btn-sm" href="{{ path('expense_new') }}">Add Expense</a>
        </p>
    </div>
    <h1>Expense index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Amount</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for expense in expenses %}
            <tr>
                <td>{{ expense.id }}</td>
                <td>{{ expense.amount }}</td>
                <td>{{ expense.date ? expense.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a role="button" class="btn btn-primary btn-sm" href="{{ path('expense_show', {'id': expense.id}) }}">Show</a>
                    <a role="button" class="btn btn-secondary btn-sm" href="{{ path('expense_edit', {'id': expense.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
