{% extends 'base.html.twig' %}

{% block title %}Expense{% endblock %}

{% block body %}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="">Orchestra<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron">
        <h1 class="display-3">Welcome to Orchestra!</h1>
        <p class="lead">Take charge of your money with our budget planner.</p>
        <hr class="my-4">
        <p>Our expense tracker helps you control your spending for a brighter & better financial future.</p>
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="{{ path('expense_new') }}">Add expense</a>
        </p>
    </div>
    <h1>Expense</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ expense.id }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ expense.amount }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ expense.date ? expense.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a style="margin: 10px;" class="btn btn-secondary btn-sm" role="button" href="{{ path('expense_edit', {'id': expense.id}) }}">Edit</a>

    {{ include('expense/_delete_form.html.twig') }}

    <a style="margin: 10px;" class="btn btn-info btn-sm" role="button" href="{{ path('expense_index') }}">Back to list</a>

</div>
{% endblock %}
